# INSERT INTO DB

In [1]:
import pandas as pd
import numpy as np

import warnings
import os
warnings.filterwarnings(action='ignore')

items = pd.read_json('./items_prc.json')
reviews = pd.read_json('./reviews_prc_1.json')

In [32]:
reviews = reviews.replace({np.nan: None})

In [22]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   item_id  860 non-null    int64
 1   cat      860 non-null    object
 2   name     860 non-null    object
 3   price    860 non-null    int64
 4   img      860 non-null    object
 5   link     860 non-null    object
dtypes: int64(2), object(4)
memory usage: 40.4+ KB

In [79]:
import sqlite3
conn = sqlite3.connect('./apparel.db')
cur = conn.cursor()

### item table

In [8]:
# ë°ì´í„° ì…ë ¥ì— í•„ìš”í•œ í˜•íƒœë¡œ ë³€í™˜
items = items[['item_id', 'cat', 'name', 'price', 'img', 'link']]
items.item_id = items.item_id.astype(str)

In [9]:
for row in items.itertuples(index=False, name=None):
    cur.execute('''
                INSERT INTO item VALUES (?, ?, ?, ?, ?, ?); ''', row)
    conn.commit()

In [60]:
reviews['ì‚¬ì´ì¦ˆ'].unique()

array(['2', '3', None, '1', '4', 'F'], dtype=object)

## reviews => user, reviewë¡œ ë‚˜ëˆ„ê¸°

In [39]:
reviews.head()

,í’ˆë²ˆ,ì•„ì´ë””,ë³„ì,í‚¤,ëª¸ë¬´ê²Œ,í‰ì†Œì‚¬ì´ì¦ˆ,ë¦¬ë·°,ì‚¬ì´ì¦ˆ,ìƒ‰ìƒ
0,0,í•«í•‘-ì§€ì›,-1,161~165,65~,3.0,ì§€ê¸ˆ ì œì¼ í•«í•˜ë‹¤ëŠ” ì˜¤ë°”ì˜¤ ì›í”¼ìŠ¤!?ğŸ¼\nì „ì°¸ì‹œ ë³´ë‹¤ê°€ ì˜¤ë°”ì˜¤ë‹˜ì´ ì…ê³ ê³„ì‹œëŠ” ì›í”¼...,2,ë¸”ë™
1,0,mozzi,5,161~165,65~,4.0,ìš”ì¦˜ì€ ë§¨ë‚ ë¡±ì›í”¼ìŠ¤ë§Œ ìƒ€ëŠ”ë° ì–´ì©”ìˆ˜ ì—†ì´ ë„ˆë¬´ ë”ìš¸ ë• í˜ë“¤ì–´ì„œ ì§§ì€ ê±° ì‚¬ë´¤ì–´ìš”...,3,ë¸”ë™
2,0,183019735,5,151~155,65~,4.0,ì‹¤ë¬¼ì´ í›¨ì”¬ ì˜ˆë»ìš” í‚¤ê°€ 154 ì¸ ì €í•œí…ŒëŠ” ê¸¸ì´ê°€ ë” ê¸¸ê¸´í–ˆì§€ë§Œ ë„ˆë¬´ ì•ˆì§§ì•„ì„œ ì¢‹...,3,ë¸”ë™
3,0,solve,5,None,None,NaN,ë ˆì „ë“œì—ìš” ã…‹ã…‹ ì´ ì˜·ì€ ê·¸ë‹¥ ê¸°ëŒ€ë„ ì•ˆí•˜ê³ ìƒ€ëŠ”ë°\nì°©ìš©ê°ì´ìµœê³ ã…œã…œ\nì¼ë‹¨ ë„ˆë¬´...,3,ì†Œë¼
4,0,7481078,5,166~170,65~,4.0,ë°°ì†¡ ë¹¨ëì–´ìš” ì£¼ë¬¸í•œ ë‹¤ìŒë‚ ì¶œë°œí•´ì„œ ê·¸ë‹¤ìŒë‚ ë°”ë¡œ ë°›ì•˜ì–´ìš” ã…ã…\nì˜·ì€ í™”ë©´ê³¼ê°™ê³ ...,3,ë¸”ë™

In [66]:
# user, review ì •ë³´ ë‚˜ëˆ„ê¸°
user = reviews[['ì•„ì´ë””', 'í‚¤', 'ëª¸ë¬´ê²Œ', 'í‰ì†Œì‚¬ì´ì¦ˆ']]
review = reviews[['ì•„ì´ë””', 'í’ˆë²ˆ', 'ë³„ì ', 'ë¦¬ë·°', 'ì‚¬ì´ì¦ˆ', 'ìƒ‰ìƒ']]

### user Table

In [37]:
for col in ['í‚¤', 'ëª¸ë¬´ê²Œ', 'í‰ì†Œì‚¬ì´ì¦ˆ']:
    print(col)
    print(user[col].unique())

í‚¤
['161~165' '151~155' None '166~170' '156~160' '171~175' '146~150' '176ì´ìƒ'
 '140~145' '139ì´í•˜']
ëª¸ë¬´ê²Œ
['65~' None '56 ~ 60' '61 ~ 65' '51 ~ 55' '46 ~ 50' '~45']
í‰ì†Œì‚¬ì´ì¦ˆ
[3.0 4.0 None 2.0 1.0 5.0]

In [47]:
user_dup = user.loc[user['ì•„ì´ë””'].duplicated()].index
user.drop(user_dup, axis=0, inplace=True)
user.reset_index(drop=True, inplace=True)
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40398 entries, 0 to 40397
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì•„ì´ë””     40398 non-null  object
 1   í‚¤       30206 non-null  object
 2   ëª¸ë¬´ê²Œ     27638 non-null  object
 3   í‰ì†Œì‚¬ì´ì¦ˆ   27409 non-null  object
dtypes: object(4)
memory usage: 1.2+ MB

In [58]:
# ì•„ì´ë”” ì¤‘ë³µ í™•ì¸ í›„ ë°ì´í„° ì…ë ¥
for row in user.itertuples(name=None, index=False):
    # cur.execute(f'''
    #             INSERT INTO user VALUES(?, ?, ?, ?)
    #             SELECT * FROM user
    #             WHERE NOT EXISTS
    #             (SELECT 1 FROM USER
    #             WHERE id == {row[0]});''', row)
    cur.execute('''
                INSERT OR IGNORE
                INTO user VALUES(?,?,?,?);''', row) # ì•„ì´ë”” ì¤‘ë³µ ì œì™¸
    
    conn.commit()

In [59]:
cur.execute('''
            SELECT COUNT(*) FROM user;''')
print(cur.fetchone())

(40398,)

### review Table

In [73]:
review = review[['ì•„ì´ë””', 'í’ˆë²ˆ', 'ë³„ì ', 'ë¦¬ë·°', 'ì‚¬ì´ì¦ˆ', 'ìƒ‰ìƒ']]
review_dup = review.loc[review['ë¦¬ë·°'].duplicated()==True].index
review.drop(review_dup, axis=0, inplace=True)
review.reset_index(drop=True, inplace=True)
len(review)

78588

In [74]:
review.duplicated().sum()

0

In [80]:
for row in review.itertuples(name=None, index=True):
    cur.execute('''
                INSERT OR IGNORE
                INTO REVIEW VALUES(?,?,?,?,?,?,?);''', row)
    conn.commit()

## ì—°ê²° í•´ì œ

In [81]:
cur.close()
conn.close()