# INSERT INTO DB

In [1]:
import pandas as pd
import numpy as np

import warnings
import os
warnings.filterwarnings(action='ignore')

In [2]:
reviews = pd.read_json('./prc_data/reviews_prc_3.json')

In [3]:
import sqlite3
conn = sqlite3.connect('./apparel.db')
cur = conn.cursor()

### item table

In [ ]:
items = pd.read_json('./items_prc.json')
items.info()

In [8]:
# ë°ì´í„° ì…ë ¥ì— í•„ìš”í•œ í˜•íƒœë¡œ ë³€í™˜
items = items[['item_id', 'cat', 'name', 'price', 'img', 'link']]
items.item_id = items.item_id.astype(str)

In [9]:
for row in items.itertuples(index=False, name=None):
    cur.execute('''
                INSERT INTO item VALUES (?, ?, ?, ?, ?, ?); ''', row)
    conn.commit()

## reviews => user, reviewë¡œ ë‚˜ëˆ„ê¸°

In [4]:
reviews.head()

,í’ˆë²ˆ,ì•„ì´ë””,ë³„ì,í‚¤,ëª¸ë¬´ê²Œ,í‰ì†Œì‚¬ì´ì¦ˆ,ë¦¬ë·°,ì‚¬ì´ì¦ˆ,ìƒ‰ìƒ
0,550,í•«í•‘-ì—°ì¬,-1,166~170,51 ~ 55,1.0,ì•ˆì‚¬ë©´ ì†í•´.. ì™„ì „ ëŒ€ë§Œì¡±~! ë² ì´ì§í•œ ë‹ˆíŠ¸ ì°¾ìœ¼ì‹œëŠ” ë¶„ë“¤ êµë³µí…œ ì—¬ê¸°ìˆì–´ìš” ğŸ™‹â€...,None,None
1,550,í•«í•‘-ë¯¼ì§€,-1,156~160,46 ~ 50,1.0,ë©‹ìŠ¤ëŸ¬ìš´ ë°˜íŒ”ë‹ˆíŠ¸ ê°€ì„ë¶€í„° ê²¨ìš¸ê¹Œì§€ í™œìš© ê°€ëŠ¥í•œ ì•„ì´í…œì€ ë°˜íŒ”ë‹ˆíŠ¸ê°€ ì•„ë‹ê¹Œ ì‹¶ì–´ìš”!...,F,ë¼ì¼ë½ê·¸ë ˆì´
2,550,150567241,5,171~175,65~,3.0,ë°”ì§€ë‘ì…ê¸° ë”±ì¢‹ì„ê±° ê°™ì•„ì„œ êµ¬ë§¤ í–ˆëŠ”ë° ë„ˆë¬´ ì˜ˆë»ìš”~ ë°”ì§€ë¥¼ ë” êµ¬ë§¤í•˜ê³ ì‹¶ì€ ìš•êµ¬ê°€...,F,í¬ë¦¼
3,550,298224934,5,156~160,46 ~ 50,1.0,ì´ëŸ° ë‹ˆíŠ¸ë°˜íŒ” ì‚¬ê³ ì‹¶ì—ˆëŠ”ë° ì§„ì§œ ì´ë»ìš” ì‚¬ì´ì¦ˆë„ ì˜ ë§ì•„ìš” ì–¼ë¥¸ ì…ê³ ë‚˜ê°€ê³ ì‹¶ì–´ìš”,F,í¬ë¦¼
4,550,kies0,5,156~160,56 ~ 60,2.0,ë„í†°í•˜ë‹ˆ. ë§˜ì—ë“¤ì–´ìš” ì²œë„ ê´€ë¦¬ë§Œì˜í•˜ë©´ ë³´í’€ë„ ì˜ì¼ì–´ë‚˜ì§€ì•Šì„ê²ƒê°™ì•„ìš” ì—¬ë¦„ëìë½~ê°€ì„...,F,í¬ë¦¼

In [7]:
reviews.replace({np.NaN: None}, inplace=True)

In [8]:
# user, review ì •ë³´ ë‚˜ëˆ„ê¸°
user = reviews[['ì•„ì´ë””', 'í‚¤', 'ëª¸ë¬´ê²Œ', 'í‰ì†Œì‚¬ì´ì¦ˆ']]
review = reviews[['ì•„ì´ë””', 'í’ˆë²ˆ', 'ë³„ì ', 'ë¦¬ë·°', 'ì‚¬ì´ì¦ˆ', 'ìƒ‰ìƒ']]

### user Table

In [9]:
for col in ['í‚¤', 'ëª¸ë¬´ê²Œ', 'í‰ì†Œì‚¬ì´ì¦ˆ']:
    print(col)
    print(user[col].unique())

í‚¤
['166~170' '156~160' '171~175' '151~155' None '161~165' '146~150' '176ì´ìƒ'
 '139ì´í•˜' '140~145']
ëª¸ë¬´ê²Œ
['51 ~ 55' '46 ~ 50' '65~' '56 ~ 60' '~45' None '61 ~ 65']
í‰ì†Œì‚¬ì´ì¦ˆ
[1.0 3.0 2.0 None 4.0 5.0]

In [10]:
user_dup = user.loc[user['ì•„ì´ë””'].duplicated()].index
user.drop(user_dup, axis=0, inplace=True)
user.reset_index(drop=True, inplace=True)
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11159 entries, 0 to 11158
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì•„ì´ë””     11159 non-null  object
 1   í‚¤       8261 non-null   object
 2   ëª¸ë¬´ê²Œ     7600 non-null   object
 3   í‰ì†Œì‚¬ì´ì¦ˆ   7559 non-null   object
dtypes: object(4)
memory usage: 348.8+ KB

In [11]:
# ì•„ì´ë”” ì¤‘ë³µ í™•ì¸ í›„ ë°ì´í„° ì…ë ¥
for row in user.itertuples(name=None, index=False):
    # cur.execute(f'''
    #             INSERT INTO user VALUES(?, ?, ?, ?)
    #             SELECT * FROM user
    #             WHERE NOT EXISTS
    #             (SELECT 1 FROM USER
    #             WHERE id == {row[0]});''', row)
    cur.execute('''
                INSERT OR IGNORE
                INTO user VALUES(?,?,?,?);''', row) # ì•„ì´ë”” ì¤‘ë³µ ì œì™¸
    
    conn.commit()

In [12]:
cur.execute('''
            SELECT COUNT(*) FROM user;''')
print(cur.fetchone())

(45565,)

### review Table

In [13]:
review = review[['ì•„ì´ë””', 'í’ˆë²ˆ', 'ë³„ì ', 'ë¦¬ë·°', 'ì‚¬ì´ì¦ˆ', 'ìƒ‰ìƒ']]
review_dup = review.loc[review['ë¦¬ë·°'].duplicated()==True].index
review.drop(review_dup, axis=0, inplace=True)
review.reset_index(drop=True, inplace=True)
len(review)

17805

In [14]:
review.duplicated().sum()

0

In [15]:
# '''
# review table ì¤„ë°”ê¿ˆ ì œê±° í•„ìš”
# '''
# cur.execute('''
#             UPDATE review
#             SET comment = replace(comment, '\n', ' ');''')
# conn.commit()

In [15]:
for row in review.itertuples(name=None, index=True):
    cur.execute('''
                INSERT OR IGNORE
                INTO REVIEW VALUES(?,?,?,?,?,?,?);''', row)
    conn.commit()

## ì—°ê²° í•´ì œ

In [16]:
cur.close()
conn.close()